<tr id="task-{{.ID}}">
    <td class="description-column">{{safeHTML .Title}}</td>
    <td class="description-column">{{safeHTML .Description}}</td>
    <td class="date-added">{{.DateAdded}}</td>
    <td>
        <button 
            class="badge bg-{{if .Completed}}success{{else}}danger{{end}} status-column"
            hx-get="/api/update-status?id={{.ID}}"
            hx-target="#task-{{.ID}} .badge"
            hx-swap="outerHTML"
            style="cursor: pointer;">
            {{if .Completed}}Complete{{else}}Incomplete{{end}}
        </button>
    </td>
    <td>
        <button 
            hx-get="/api/confirm?id={{.ID}}&page={{.Page}}"
            hx-target="#modal .modal-content"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            class="badge bg-danger delete-column">
            Delete
        </button>
    </td>
</tr>

