<tr id="task-{{.ID}}">
    <td>{{.ID}}</td>
    <td>{{.Title}}</td>
    <td>{{.Description}}</td>
    <td>
        <button 
            class="badge bg-{{if .Completed}}success{{else}}danger{{end}}"
            hx-get="/api/update-status?id={{.ID}}"
            hx-target="#task-{{.ID}} .badge"
            hx-swap="outerHTML"
            style="cursor: pointer;">
            {{if .Completed}}Complete{{else}}Incomplete{{end}}
        </button>
    </td>
    <td>
        <button 
            hx-delete="/api/confirm?id={{.ID}}"
            hx-target="#modal .modal-content"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            class="badge bg-danger">
            Delete
        </button>
    </td>
</tr>

