<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="public/css/site.css">
</head>
<body>
	<!--{{template "header.html" .}}-->
	<table class="styled-table">
		<thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Tasks }}
                {{ template "todo.html" . }}
            {{ else }}
                <tr>
                    <td colspan="4">No tasks available</td>
                </tr>
            {{ end }}
        </tbody>
	</table>
	<div id="timer" style="text-align: center; margin-top: 10px;">
		Next update in: <span id="time">10</span> seconds
	</div>
	<script src="/public/js/site.js"></script>
</body>
	
</html>
